.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;

    background-color: var(--bg-color);
}

.header__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    margin-top: 50px;
    color: var(--txt-color);
    text-align: center;
    letter-spacing: 3px;
}

.header__text-title {
    font-weight: bold;
    font-size: 3rem;
}

.header__text-description {
    font-size: 1.2rem;
    margin: 0 25px;
}

.header__bg-img {
    filter: invert(1) contrast(.7);
}

.header__pic-img {
    filter: contrast(.8);
    width: 150px;
}

.header__bg-img > img, .header__pic-img > img {
    width: 100%;
    display: block;
}
